extends layout 

block content 
   h1 Author: #{author.name} 
   p #{author.pretty_dob}
   div(style='margin-left:20px;margin-top:20px')

      h4 Books 
      dl 
         each book in author_books 
            dt
               a(href=book.url) #{book.title}
            dd #{book.summary}
         else 
            p This author needs to write more.
   hr
   p 
      a.link-danger(href=author.url + '/delete') Delete Author
   p
      a.link-warning.text-warning(href=author.url + '/update') Update Author